<a class="appwhatsapp" target= "_blanck" href="https://api.whatsapp.com/send?phone=13314622541&text=Hola!&nbsp;Sabemos&nbsp;muy&nbsp;bien&nbsp;como&nbsp;ayudar&nbsp;a&nbsp;las&nbsp;personas.&nbsp;Cuentanos&nbsp;que&nbsp;te&nbsp;aflige,&nbsp;para&nbsp;nosotros&nbsp;es&nbsp;un&nbsp;gusto&nbsp;ayudarte">  <img src="../assets/img/icon-whatsapp.png" alt="icon whatsapp"></a>
<div class="ae-container-fluid ae-container-fluid--inner rk-main">
  <div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
      <a href="mailto:maestrogranisaias@gmail.com"><img src="./assets/img/symbols-mail.png"></a>
      <h4>maestrogranisaias@gmail.com</h4>
    </div>
  </div>
  <div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
      <a href="https://wa.me/13314622541"><img src="../assets/img/symbols-cel.png"></a>
      <h4>+1 (331) 462-2541</h4>
    </div>
  </div>
  <div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
      <a href="https://wa.me/13314622541" target="_blanck"><img src="../assets/img/symbols-whatsapp.png"></a>
      <h4>+1 (331) 462-2541</h4>
    </div>
  </div>
</div>
