<div>
  <a class="appwhatsapp" target= "_blanck" href="https://api.whatsapp.com/send?phone=13314622541&text=Hola!&nbsp;Sabemos&nbsp;muy&nbsp;bien&nbsp;como&nbsp;ayudar&nbsp;a&nbsp;las&nbsp;personas.&nbsp;Cuentanos&nbsp;que&nbsp;te&nbsp;aflige,&nbsp;para&nbsp;nosotros&nbsp;es&nbsp;un&nbsp;gusto&nbsp;ayudarte">
    <img src="../assets/img/icon-whatsapp.png" alt="icon whatsapp">
  </a>
</div>
<div class="ae-container-fluid ae-container-fluid--inner rk-main">
  <div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
      <h2 class="ae-u-bolder">Maestro Isaias</h2>
      <p><br>Soy el maestro Isaias jefe la tribu Shuar, nuestros rituales son poderosos y he heredado todo este poder de generaciones en generaciones, los espíritus siempre nos ayudan y nos guían, soy el único especialista en realizar amarres de amor reales y confidenciales para atraer nuevamente a tu ser amados.</p>
      <img src="../assets/img/project-2.jpg">
    </div>
  </div>
  <div class="ae-grid ae-grid--alt au-xs-ptp-1">
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">Quienes somos</h6>
      <p class="au-lh-3">Somos una organización colaborativa, donde prima la intención de devolverle a la humanidad el don mágico y espiritual que nos ha brindado para ayudar a los demás.</p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">Nuestra misión</h6>
      <p class="au-lh-3">Nuestra misión es ayudar a las personas que tienen problemas amorosos, familiares, económicos y sociales, ayudandoles a encontrar una salida benefica a todo problema, orientados al éxito y felicidad de las personas.</p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">Nuestros Beneficiados</h6>
      <p class="au-lh-3">Tenemos testimonios de éxito, donde centenares de personas se han beneficiado con nuestros dones curativos, de protección y retornos amorosos.</p>
    </div>
  </div>
  <p class="au-flex au-pt-4 group-buttons"><a routerLink="home" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">Ver nuestros servicios<span class="arrow-cont">
        <svg>
          <use xlink:href="assets/img/symbols.svg#arrow"></use>
        </svg></span></a></p>
</div>
