<div>
  <a class="appwhatsapp" target= "_blanck" href="https://api.whatsapp.com/send?phone=13314622541&text=Hola!&nbsp;Sabemos&nbsp;muy&nbsp;bien&nbsp;como&nbsp;ayudar&nbsp;a&nbsp;las&nbsp;personas.&nbsp;Cuentanos&nbsp;que&nbsp;te&nbsp;aflige,&nbsp;para&nbsp;nosotros&nbsp;es&nbsp;un&nbsp;gusto&nbsp;ayudarte">
    <img src="../assets/img/icon-whatsapp.png" alt="icon whatsapp">
  </a>
</div>
<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio rk-main">
  <div class="rk-portfolio__items">
    <a routerLink="contact" class="rk-item rk-item--flex item-1 rk-size-12 rk-tosize-6 rk-landscape">
      <div class="item-meta">
        <h2>Amarres</h2>
        <p>
          Un amarre es un conjuro mágico que es capaz de generar en las personas
          sentimientos y emociones hacia otras personas, no cualquiera realiza un
          amarre, hay muchos falsos profetas y pocos conocedores del verdadero
          poder, yo tengo la capacidad y llevo mi poder heredado de generaciones
          en generaciones, secretos de la familia de la tribu, nuestros conjuros
          y hechizos se realizan por medio de rituales sagrados, <strong>No dudes en contactarme</strong>.
        </p>
      </div>
    </a><a routerLink="contact" class="rk-item rk-item--flex item-2 rk-size-6 rk-portrait">
      <div class="item-meta">
        <h2>Amarres de Amor y protecciones de amor</h2>
        <p>
          ¿Quieres estar hasta la eternidad con esa persona?, ¿Quieres ser feliz
          con tu pareja?, ¿Quieres que sea fiel y leal contigo para siempre?,
          Este Hechizo y conjuro de alto poder se realiza en nuestro templo
          sagrado en compañía de nuestros monjes, es capaz de atar por medio del
          matrimonio espiritual, uniendo a dos personas hasta la eternidad,
          evitando y alejando personas envidiosas, amargadas, egoístas y
          personas que les gusta meterse en lo ajeno,
          <strong>No dudes en contactarme</strong>.
        </p>
      </div>
    </a><a routerLink="contact" class="rk-item rk-item--flex item-3 rk-size-6 rk-tosize-4 rk-portrait rk-tosquare">
      <div class="item-meta">
        <h2>Amarres de Pasión y sexo</h2>
        <p>
          ¿Te gusta alguien?, ¿Quieres tener sexo con esa persona?, ¿Quieres
          estar el rato con esa persona? Este hechizo y conjuro de alto poder es
          capaz de despertar sentimientos de atracción sexual y deseo carnal a
          otra persona, con mi ritual en mi templo sagrado te aseguro que
          cumplirás ese deseo, <strong>No dudes en contactarme</strong>
        </p>
      </div>
    </a>
    <a routerLink="contact"
        class="rk-item rk-item--flex item-4 rk-size-12 rk-tosize-6 rk-landscape">
        <div class="item-meta">
          <h2>Protecciones</h2>
          <p>
            ¿Estás cansado de las personas mal intencionadas?, envidiosas, que
            disfrutan de hacer daño a las demás personas, gozan de las desgracias
            ajenas, se meten en relaciones, quieren apoderarse de lo material que
            no les pertenece, mis protecciones son sagradas, conjuras, alejan todo
            mal y peligro, estarás a salvo con nuestros rituales de protección,
            con la ayuda de los monjes superiores e inferiores te protegeremos de
            por vida, <strong>No dudes en contactarme</strong>
          </p>
        </div>
      </a><a routerLink="contact" class="rk-item rk-item--flex item-5 rk-size-12 rk-tosize-6 rk-landscape">
        <div class="item-meta">
          <h2>Limpiezas y Prosperidad</h2>
          <p>
            ¿Sientes malas vibras?, ¿Sientes que todo va para atrás?, ¿Sientes que
            el dinero no rinde?, ¿Quieres mas dinero?, ¿Quieres un trabajo
            estable?, ¿Quieres que tu viaje por fin sea un hecho? Nuestras
            limpiezas y rituales de hechizos son sagrados, por generaciones hemos
            ayudado a muchas personas a ser prósperos en todos los aspectos de sus
            vidas, se uno mas y súmate a la prosperidad infinita; <strong>No dudes en contactarme</strong>
          </p>
        </div>
      </a>
  </div>
</section>
