<a class="appwhatsapp" target= "_blanck" href="https://api.whatsapp.com/send?phone=13314622541&text=Hola!&nbsp;Sabemos&nbsp;muy&nbsp;bien&nbsp;como&nbsp;ayudar&nbsp;a&nbsp;las&nbsp;personas.&nbsp;Cuentanos&nbsp;que&nbsp;te&nbsp;aflige,&nbsp;para&nbsp;nosotros&nbsp;es&nbsp;un&nbsp;gusto&nbsp;ayudarte">  <img src="../assets/img/icon-whatsapp.png" alt="icon whatsapp"></a>
<div class="ae-container-fluid ae-container-fluid--inner rk-main">
  <div class="ae-grid au-pt-2">
    <div class="ae-grid__item item-lg-8 item-lg--offset-2">
      <h4 class="ae-u-bolder">Aviso Importante !!!</h4>
      <p>Para el maestro Gran Isaias es muy importante la confidencialidad de sus colaboradores, por eso ocultamos los rostros de las personas que han sido beneficiadas con los hechizos y acciones generadas en pro de su ayuda, reiterando el compromiso de la confidencialidad y anonimato absoluto</p>
      <p>Estos son fieles testimonios de pacientes que han tenido la experiencia de vivir por su propia cuenta los resultados de nuestra sabiduría y la magia de nuestros hechizos</p>
      <img src="../assets//img/project-3.jpg" alt="imagen1">
    </div>
  </div>
  <div class="ae-grid ae-grid--alt au-xs-ptp-1">
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">Soy Belinda</h6>
      <p class="au-lh-3">Gracias a el gran Maestro vivo tranquila sin engaños de mi esposo, feliz. y agradecida. Se alejo esa mujer que tanto se metia en nuestra relación. Y me me acia tanto daño. Orita Jhon y yo somos muy felices para siempre.</p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">Soy Amado Pinare</h6>
      <p class="au-lh-3">Estoy muy agradecido con el Maestro sus resos y poderes me ayudaron mucho, a mi y a mi esposa, ya estamos esperando una hija y todo, no dude en comunicarse. con el, mi vida cambio mucho. no se que haría sin su ayuda. orita na mas la economia nos ha cambiado, lo conozco mas de 4 años y soy muy prospero y bendecido de conocerlo. Gracias maestro no me cansare de agradecer todo lo que hiso por nosotros</p>
    </div>
    <div class="ae-grid__item--alt item-lg-4">
      <h6 class="ae-u-boldest">Soy Rosa Maria</h6>
      <p class="au-lh-3">El Maestro ha sido mi mayor benefactor, sus hechizos ayudaron a mis hijos a salir del vicio y licor. Gracias, muchitas gracias MAESTRO GRAN ISAIAS</p>
    </div>
  </div>
  <p class="au-flex au-pt-4 group-buttons"><a routerLink="home" class="au-mt-4 arrow-button arrow-button--right arrow-button--out">Ver nuestros servicios<span class="arrow-cont">
        <svg>
          <use xlink:href="assets/img/symbols.svg#arrow"></use>
        </svg></span></a></p>
</div>
