<footer class="ae-container-fluid rk-footer ">
  <div class="ae-grid ae-grid--collapse">
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
      <ul class="rk-menu rk-footer-menu">
        <li routerLinkActive="active" class="rk-menu__item"><a routerLink="about" class="rk-menu__link">Acerca de nosotros</a>
        </li>
        <li routerLinkActive="active" class="rk-menu__item"><a routerLink="contact" class="rk-menu__link">Contacto</a>
        </li>
      </ul>
      <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© </span><span class="ae-u-bolder">{{ anio }} AMARRES MAESTRO ISAIAS </span>All Right Reserved.</p>
    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center">
      <a href="mailto:maestrogranisaias@gmail.com"><img src="./../../../assets/img/symbols-mail.png"></a>
      <a href="https://wa.me/13314622541" target= "_blanck"><img src="./../../../assets/img/symbols-whatsapp.png"></a>
    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
      <p class="rk-footer__text rk-footer__contact "> <span class="ae-u-bold">Email: </span><span class="ae-u-bolder"> <a href="#0" class="rk-dark-color ">maestrogranisaias@gmail.com</a></span></p>
    </div>
    <font size=2><br><br><br><strong>Advertencia</strong> Este sitio web ofrece contenido para adultos. Su visión o lectura es inapropiada y prohibida para menores de 18 años. Si usted es menor de edad porfavor pase a retirarse del sitio Web. De acuerdo con las legislaciones vigentes, se establece que las predicciones, videncias psíquicas y hechizos, tienen fines de entretenimiento y ayuda personal por lo tanto estos no sustituirán la apropiada asistencia médica, legal, financiera o psicológica.
      Importante: Solo se cobrara el servicio si se evalua que el problema tiene una solucion posible de no ser asi no se realizara ningun servicio, las consultas y analisis de cada caso no tienen ningun costo, asi mismo las llamadas que me realicen no tendran ningun costo adicional al que imponga su operador local de telefonia por llamada de larga distancia. Trabajos desde 99 dolares, los pagos o envios de dinero por adquirir algun servicio de los que ofresco unicamente se harán cuando este deacuerdo con la propuesta que se les ofresca, usted no esta obligado a pagar si no esta seguro de adquirir el servicio, cada servicio adquirido tiene un pago unico, de requerir varios servicios estos tambien tendra un monto unico ya sea de modo individual o paquete de servicios. En caso de no resultar tu servicio puedes solicitar reembolso</font>
  </div>
</footer>
